@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,700&family=Roboto+Slab:wght@100;300;400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.1em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden; /* to hide the scroll bars if page is overflowed. */
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  color: #fff;
  height: 80vh;
  background-size: auto cover 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 5px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  position: absolute;
  font-size: 24px;
  bottom: 19px;
  left: 19px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    max-width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
